body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-image: url('../img/ancla.jpg'); 
    background-position: top;
    background-size: cover;
    background-attachment: fixed; 

}


